<header class="border-bottom border-dark bg-light">
  <nav class="navbar navbar-expand-md py-1">
    <div class="container">

      <a routerLink="/" class="navbar-brand">
        <img src="/assets/logo-black.png" alt="logo" aria-hidden="true" />
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto fw-bold">
          <li class="nav-item">
            <a routerLink="#" routerLinkActive="active" class="nav-link"> Adopt Kittens </a>
          </li>
          <li class="nav-item">
            <a routerLink="#" routerLinkActive="active" class="nav-link"> Kitty Stories </a>
          </li>
          <li class="nav-item">
            <a routerLink="#" routerLinkActive="active" class="nav-link"> About Us </a>
          </li>
          <li class="nav-item">
            <a routerLink="#" routerLinkActive="active" class="nav-link"> Blog </a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" routerLinkActive="active" class="nav-link"> Contact </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>