<footer class="bg-dark text-light">
  <div class="container">

    <div class="d-flex flex-wrap flex-column flex-md-row justify-content-between align-items-center py-3 py-lg-5">

      <a routerLink="/" class="navbar-brand">
        <img src="/assets/logo-white.png" alt="logo" aria-hidden="true" />
      </a>

      <ul class="nav fw-bold flex-column flex-sm-row justify-content-between align-items-center">
        <li class="nav-item">
          <a routerLink="#" routerLinkActive="active" class="nav-link text-light"> Privacy Policy </a>
        </li>
        <li class="nav-item">
          <a routerLink="#" routerLinkActive="active" class="nav-link text-light"> Terms & Conditions </a>
        </li>
        <li class="nav-item">
          <a routerLink="#" routerLinkActive="active" class="nav-link text-light"> Blog </a>
        </li>
        <li class="nav-item">
          <a routerLink="#" routerLinkActive="active" class="nav-link text-light"> Support </a>
        </li>
      </ul>

      <ul class="nav">
        <li class="nav-item">
          <a routerLink="#" routerLinkActive="active" class="nav-link text-light"> <i class="bi bi-discord"></i> </a>
        </li>
        <li class="nav-item">
          <a routerLink="#" routerLinkActive="active" class="nav-link text-light"> <i class="bi bi-twitter"></i> </a>
        </li>
        <li class="nav-item">
          <a routerLink="#" routerLinkActive="active" class="nav-link text-light"> <i class="bi bi-instagram"></i> </a>
        </li>
      </ul>

    </div>

    <div class="pb-2 pb-lg-4 text-center fw-light"> Copyright &#64; SmellyCat 2020 </div>

  </div>
</footer>